[Unit]
Description=Run PDS2 Import PDS-IMP1-1 every 1 minute

[Timer]
OnCalendar=minutely
Persistent=true
Unit=pds2_import_pds-imp1-1.service

[Install]
WantedBy=timers.target
