[Unit]
Description=PDS2 Import PDS-IMP1-1
Documentation=https://www.exprivia.com
Requires=network.target
After=network.target

[Service]
Type=oneshot

User=opadgs
Group=ccds

ExecStart=/usr/bin/php56 -q /usr/local/components/ADGS/pds2_import_adgs/engine/pds2_import_adgs.php import_pds-imp1-1.ini

RuntimeDirectory=pds2_import1

[Install]
WantedBy=multi-user.target
