[Unit]
Description=Run PDS2 Import PDS-IMP2-2 every 1 minute

[Timer]
OnCalendar=minutely
Persistent=true
Unit=pds2_import_pds-imp2-2.service

[Install]
WantedBy=timers.target
