[Unit]
Description=LTAQuotaService Service
Documentation=https://www.exprivia.com
Requires=network.target
After=network.target
PartOf=ccds-auxipmanagement.service

[Service]
Type=simple

User=#LTAUSER#
Group=#LTAGROUP#

ExecStart=#VINSTALL_PATH#/bin/LTAInventoryMetricsTracker
StandardOutput=null
StandardError=null
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=1800


[Install]
WantedBy=multi-user.target
