[Unit]
Description=Run PDS2 Import group 1 every 1 minute

[Timer]
OnCalendar=minutely
Persistent=true
Unit=pds2_import_group_1.service

[Install]
WantedBy=timers.target
